{% extends 'pages/base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-title">
            Disclaimer
        </div>
        <div class="panel-body">
            <p>
                jCourse uses data collected from <a href="https://campusnet.jacobs-university.de">CampusNet</a> of <a href="http://jacobs-university.de">Jacobs University Bremen</a>. The data is collected from the course catalogue of academic year 2014 (this data is all public). <br>
            </p>
            <p>
                jCourse is not to be held responsible:
                <ul>
                    <li> if there are discrepancies between the course information and the course details offered in jCourse. </li>
                    <li> if the ratings and reviews don't reflect the general perception of the course </li>
                    <li> if reviews do not fit certain ethical requirements </li>
                </ul>
                jCourse will also try to fix any problems regarding the above points.
            </p>
        </div>
    </div>
{% endblock %}