/********* body image ***********/
#body_image{
    background-image: url(project_papper.png);
    background-repeat:repeat;
}

#main_content_padding{
    padding-top: 80px;
}


/********* Main page ***********/
.school-group {
    margin-top: 8px;
}

.course-image {
    max-width: 100px;
    max-height: 100px;
}

.course-name {
    font-size: 18px;
}
.panel-heading .course-credits {
    float: right;
}

.panel-heading .course-rating {
    float: right;
}

.panel-heading .course-rating .yellow-star {
    color: #EDDA74;
}

.badge.course-credits {
    background-color: #92209B;
    border-radius: 0px;
    width: 46px;
    height: 20px;
    margin-left: 10px;
}

.badge.course-rating {
    background-color: #33424D;
    border-radius: 0px;
}

.course-catalog {
    font-size: 10px;
    margin-top: 12px;
}

.btn-group .btn-filter:first-child {
    border-radius: 0px;
}
.btn-group .btn-filter:last-child {
    border-radius: 0px;
}

/* Credit slider */
#credit-slider .ui-slider-range {
    background: #729fcf;
}
#credit-slider .ui-slider-handle {
    border-color: #729fcf;
}

.credit-slider-values {
    margin-top: 15px;
}

/* Login form */
.login-form .login-input {
    max-width: 120px;
}

/* Loading gif */
.loading-gif {
    max-height: 25px;
    margin-bottom: 50px;
}

/******* Course page *********/
.course-page-image {
    max-width: 150px;
    max-height: 150px;
}

.course-details .course-brief-detail-wrapper {
    margin-top: 10px;
}

.course-details .course-detail {
    margin-top: 16px;
}

.main-content .course-details .course-brief-detail-wrapper .course-brief-detail {
    margin-top: 4px;
}

/* Comments */
.panel-heading.panel-heading-title {
    font-size: 18px;
}

.comments .comment-submit {
    resize: vertical;
}

.comments .comments-display hr {
    margin-bottom: 12px;
}

.comments .comment-text {
    margin-top: 6px;
}

.comments .comment-datetime {
    float: right;
}

.comments .comment-rate {
    overflow: hidden;
}

.comments .comment-rate .rate-content {
    float: right;
}

.comments .comment-rate .comment-rate-form {
    display: inline;
}

/* Ratings */
.ratings hr {
    margin-top: 6px;
    margin-bottom: 6px;
}

.agg-ratings .rating-nrs {
    font-size: 10px;
}

.ratings .yellow-star {
    color: #EDDA74;
}

/******* All Comments page *******/
.comments-page .comments-display hr {
    margin-bottom: 12px;
}

.comments-page .comment-text {
    margin-top: 6px;
}

.comments-page .comment-datetime {
    float: right;
}

#all_comments_date{
    margin-right: 20px;
}

/******** COURSE BLOCK *********/
.glyphicon {  margin-bottom: 0px;margin-right: 0px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-radius: 0px;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
    border-radius: 0px;
}



/************** ABOUT PAGE ****************/

#poster_about{
    width: 100%;
}

#about_background{
    position: relative;
}

#about_info{
    position: absolute;
    top: 7%;
    left: 2%;
    right:2%;
    z-index: 100;
}
