
.school-group {
    margin-top: 8px;
}

.course-image {
    max-width: 140px;
    max-height: 120px;
}

.course-details {
    position: relative;
    min-height: 120px;
}

.course-name {
    font-size: 20px;
}
.course-name .course-credits {
    float: right;
}

.course-catalog {
    font-size: 11px;
    position: absolute;
    bottom: 0px;
}


#credit-slider .ui-slider-range {
    background: #729fcf;
}
#credit-slider .ui-slider-handle {
    border-color: #729fcf;
}

.credit-slider-values {
    margin-top: 15px;
}