<div class="row">
    <div class="col-md-8">

        {% if course.instructors %}
        <div class="course-detail">
                <strong> Instructors: </strong> 
                <div class="content">
                    {% for prof in instructors %}
                        {{ prof.name }}; 
                    {% endfor %}
                </div>
        </div>
        <br/>
        {% endif %}

        {% if course.type %}
        <div class="course-detail">
                <strong> Type: </strong> 
                <div class="content">
                    {{ course.type }}
                </div>
        </div>
        <br/>
        {% endif %}

        {% if course.credits %}
        <div class="course-detail">
                <strong> Credits: </strong> 
                <span class="content">
                    {{ course.credits }}
                </span>
        </div>
        <br/>
        {% endif %}

        {% if course.participants %}
        <div class="course-detail">
                <strong> Min. | Max. participants: </strong> 
                <span class="content">
                    {{ course.participants }}
                </span>
        </div>
        <br/>
        {% endif %}

        {% if course.abbreviation %}
        <div class="course-detail">
                <strong> Abbreviation: </strong> 
                <span class="content">
                    {{ course.abbreviation }}
                </span>
        </div>
        <br/>
        {% endif %}

        {% if course.description %}
        <div class="course-detail">
                <strong> Description: </strong> 
                <div class="content">
                    {{ course.description|linebreaks }}
                </div>
        </div>
        <br/>
        {% endif %}

    </div>

    <div class="col-md-4">
        <!-- EMPTY? -->
    </div>

</div>