
<div class="row agg-ratings">
    <div class="col-md-6">
        {% for rating in ratings %}
            {% if rating.type != 'Professor' %}
                <div class="row">
                    <form class="rating-form" method="post" action="/vote_course">
                        <div class="col-md-8">
                            {{ rating.type }}:
                        </div>

                        <div class="col-md-4">
                            <span class="badge course-rating"> 
                                {% comment %}
                                <span class="glyphicon glyphicon-star {% if rating.my_score %} yellow-star {% endif %}"></span>
                                {% endcomment %}
                                <span class="rating-agg-score"> {{ rating.score|floatformat:1 }} </span>
                            </span>
                            <span class="rating-nrs">
                                ({{ rating.count }})
                            </span>
                        </div>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-md-6">
        {% for rating in ratings %}
            {% if rating.type == 'Professor' and user_auth %}
                <div class="row">
                    <form class="rating-form" method="post" action="/vote_course">
                        <div class="col-md-8">
                            {{ rating.prof }}:
                        </div>

                        <div class="col-md-4">
                            <span class="badge course-rating"> 
                                {% comment %}
                                <span class="glyphicon glyphicon-star {% if rating.my_score %} yellow-star {% endif %}"></span>
                                {% endcomment %}
                                <span class="rating-agg-score"> {{ rating.score|floatformat:1 }} </span>
                            </span>
                            <span class="rating-nrs">
                                ({{ rating.count }})
                            </span>
                        </div>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
