<div class="row">
    <div class="col-md-8">

        {% if course.course_id %}
        <div class="course-detail">
                <strong> Course ID: </strong> 
                <span class="content">
                    {{ course.course_id }}
                </spa>
        </div>
        <br/>
        {% endif %}

        {% if course.instructors %}
        <div class="course-detail">
                <strong> Instructors: </strong> 
                <div class="content">
                    {% for prof in instructors %}
                        {{ prof.name }}; 
                    {% endfor %}
                </div>
        </div>
        <br/>
        {% endif %}

        {% if course.type %}
        <div class="course-detail">
                <strong> Type: </strong> 
                <div class="content">
                    {{ course.type }}
                </div>
        </div>
        <br/>
        {% endif %}

        {% if course.credits %}
        <div class="course-detail">
                <strong> Credits: </strong> 
                <span class="content">
                    {{ course.credits }}
                </span>
        </div>
        <br/>
        {% endif %}

        {% if course.participants %}
        <div class="course-detail">
                <strong> Min. | Max. participants: </strong> 
                <span class="content">
                    {{ course.participants }}
                </span>
        </div>
        <br/>
        {% endif %}

        {% if course.abbreviation %}
        <div class="course-detail">
                <strong> Abbreviation: </strong> 
                <span class="content">
                    {{ course.abbreviation }}
                </span>
        </div>
        <br/>
        {% endif %}

        {% if course.description %}
        <div class="course-detail">
                <strong> Description: </strong> 
                <div class="content">
                    {{ course.description|linebreaks }}
                </div>
        </div>
        <br/>
        {% endif %}
    
        {% if course.course_type %}
        <div class="course-detail">
                <strong> Course Type: </strong> 
                <span class="content">
                    {{ course.course_type }}
                </span>
        </div>
        <br/>
        {% endif %}
        
        {% if course.additional_info %}
        <div class="course-detail">
                <strong> Additional information: </strong> 
                <div class="content">
                    {{ course.additional_info }}
                </div>
        </div>
        <br/>
        {% endif %}

        <!-- sections_info is useless -->
        
        {% if course.grades %}
        <div class="course-detail">
                <strong> Grade breakdown: </strong> 
                <div class="content">
                    {{ course.grades }}
                </div>
        </div>
        <br/>
        {% endif %}
        
        {% if course.grades_info %}
        <div class="course-detail">
                <strong> Additional Information about grades: </strong> 
                <div class="content">
                    {{ course.grades_info }}
                </div>
        </div>
        <br/>
        {% endif %}
        
        {% if course.hours_per_week %}
        <div class="course-detail">
                <strong> Hours per week: </strong> 
                <span class="content">
                    {{ course.hours_per_week }}
                </span>
        </div>
        <br/>
        {% endif %}

        {% if course.catalogue %}
        <div class="course-detail">
                <strong> Catalogue: </strong> 
                <span class="content">
                    {{ course.catalogue }}
                </span>
        </div>
        <br/>
        {% endif %}

    </div>

    <div class="col-md-4">
        <!-- EMPTY? -->
    </div>

</div>