<!-- sidebar -->
<div class="panel panel-default">
  <div class="panel-body">
  	<!-- Search bar -->
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" placeholder="Search">
      <!-- Remove it if AJAX'd -->
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
    <!-- IDEA: AJAX Querying -->
  	<hr>
    <!-- Checkboxes for majors -->
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Computer Science
      </label>
    </div>
    <!-- Generate this automatically -->
    <hr>
    <!-- Checkboxes for credits -->
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">2.5
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">5.0
      </label>
    </div>
    <!-- Range slider(!) -->
    
    
  </div>
</div>