<!-- sidebar -->
<div class="panel panel-default">
  <div class="panel-body">
  	
  	<!-- Search bar -->
  	<div class="form-group">
  		<label class="sr-only" for="exampleInputEmail2">Email address</label>
  		<!-- Maybe an icon <span class="glyphicon glyphicon-search"></span> -->
  		<input type="text" class="form-control" id="exampleInputEmail2" placeholder="Search...">
  	</div>
  	
	<!-- Buttons for Departments -->    
    <p>
    	<button type="button" class="btn btn-primary">ALL</button>
    	<button type="button" class="btn btn-default">SES</button>
    	<button type="button" class="btn btn-default">SHSS</button>
    </p>
    
    <!-- Checkboxes for majors -->
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Computer Science
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Physics
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Mathematics
      </label>
    </div>
    <!-- Checkboxes for credits -->
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" value="option1"> 2.5
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox2" value="option2"> 5.0
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" value="option3"> 7.5
    </label>
    
  </div>
</div>